<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MexicoTestSuite">
    <parameter name="appURL" value="http://www.almundo.com"/>
    <parameter name="browserType" value="chrome"/>
    <parameter name="country" value="MEXICO"/>

    <parameter name="passengers" value="1"/>

    <parameter name="originAuto" value="Bue"/>
    <parameter name="originFull" value="Buenos Aires, Buenos Aires, Argentina"/>

    <parameter name="destinationAuto" value="Mia"/>
    <parameter name="destinationFull" value="Miami, Estados Unidos de América"/>

    <parameter name="startDate" value="10"/>
    <parameter name="endDate" value="17"/>

    <parameter name="adults" value="2"/>
    <parameter name="childs" value="2"/>

    <test name="TestsResults">
        <classes>
            <class name="com.almundo.browser.automation.tests.HotelesPageTest"/>
            <!--<class name="com.almundo.browser.automation.tests.VuelosPageTest"/>-->
            <!--<class name="com.almundo.browser.automation.tests.VueloHotelPageTest"/>-->
            <!--<class name="com.almundo.browser.automation.tests.LocalMultiBrowserTest"/>-->
        </classes>
    </test>
</suite>