<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LocalTestSuite">
    <parameter name="appURL" value="http://www.almundo.com"/>
    <parameter name="browserType" value="chrome"/>
    <parameter name="country" value="ARGENTINA"/>

    <parameter name="originAuto" value="Bue"/>
    <parameter name="originFull" value="Buenos Aires, Buenos Aires, Argentina"/>

    <parameter name="destinationAuto" value="Mia"/>
    <parameter name="destinationFull" value="Miami, Estados Unidos de América"/>

    <parameter name="startDate" value="10"/>
    <parameter name="endDate" value="27"/>

    <parameter name="adults" value="2"/>
    <parameter name="childs" value="2"/>

    <parameter name="rooms" value="1"/>

    <listeners>
        <listener class-name="com.almundo.browser.automation.utils.RetryListener" />
    </listeners>

    <test name="LOCAL-TestsResults">
        <classes>
            <class name="com.almundo.browser.automation.tests.HotelFlowTest"/>
            <class name="com.almundo.browser.automation.tests.HotelFlowHeaderTest"/>
            <class name="com.almundo.browser.automation.tests.VueloFlowTest"/>
            <class name="com.almundo.browser.automation.tests.VueloHotelFlowTest"/>
        </classes>
    </test>
</suite>