<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Local Testing">
    <parameter name="appURL" value="http://www.almundo.com"/>
    <parameter name="browserType" value="chrome"/>
    <parameter name="country" value="ARGENTINA"/>

    <parameter name="passengers" value="1"/>

    <parameter name="searchAutoComplete" value="Mia"/>
    <parameter name="searchFullText" value="Miami, Estados Unidos de América"/>

    <parameter name="startDate" value="7"/>
    <parameter name="endDate" value="24"/>

    <parameter name="childs" value="2"/>
    <parameter name="childs" value="2"/>

    <test name="Local Tests">
        <classes>
            <class name="com.almundo.browser.automation.tests.HotelesPageTest"/>
            <class name="com.almundo.browser.automation.tests.VuelosPageTest"/>
            <!--<class name="com.almundo.browser.automation.tests.LocalMultiBrowserTest"/>-->
        </classes>
    </test>
</suite>