<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Semaphores">

    <listeners>
        <listener class-name="com.almundo.browser.automation.utils.RetryListener" />
    </listeners>

    <test name="SemaphoresTestsResults">
        <classes>

            <!--Web channel-->
            <class name="com.almundo.browser.automation.tests.Hotels.FlowTest"/>
            <class name="com.almundo.browser.automation.tests.Flights.FlowTest"/>
            <class name="com.almundo.browser.automation.tests.Trips.FlowTest"/>
            <class name="com.almundo.browser.automation.tests.Cars.FlowTest"/>

            <!--Checkout-->
            <class name="com.almundo.browser.automation.tests.Checkout.Flights"/>
            <class name="com.almundo.browser.automation.tests.Checkout.Hotels"/>

            <!--Club AlMundo-->
            <class name="com.almundo.browser.automation.tests.ClubAlMundo.LoginTest"/>
            <class name="com.almundo.browser.automation.tests.ClubAlMundo.AvailabilityLoginTest"/>
            <class name="com.almundo.browser.automation.tests.ClubAlMundo.DetailsLoginTest"/>

            <!--Almundo Trips-->

            <class name="com.almundo.browser.automation.tests.AlmundoTrips.FlowTest"/>

            <!--Home Page-->
            <class name="com.almundo.browser.automation.tests.HomePage.BannersAndPromoBoxesTest"/>

            <!--Sucursales channel-->
            <class name="com.almundo.browser.automation.tests.Hotels.SucursalesFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Flights.SucursalesFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Trips.SucursalesFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Cars.SucursalesFlowTest"/>

            <!--Login flows-->
            <class name="com.almundo.browser.automation.tests.Hotels.LoginFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Flights.LoginFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Trips.LoginFlowTest"/>
            <class name="com.almundo.browser.automation.tests.Hotels.FacebookLoginFlowTest"/>

        </classes>
    </test>
</suite>